Aula9/Revenda+Flow.yml
app:
  description: Revenda Flow
  icon: pirate_flag
  icon_background: '#E4FBCC'
  mode: advanced-chat
  name: Revenda+Flow
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables:
  - description: Controle da etapa em que o usuário se encontra
    id: c159c822-bebf-4080-be23-f4c184c17aee
    name: etapaAtual
    value: 0
    value_type: number
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: llm-source-1728006637280-target
      selected: false
      source: llm
      sourceHandle: source
      target: '1728006637280'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: 1728006637280-source-1728604875292-target
      source: '1728006637280'
      sourceHandle: source
      target: '1728604875292'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: answer
        targetType: if-else
      id: 1728604875292-source-1728605162990-target
      source: '1728604875292'
      sourceHandle: source
      target: '1728605162990'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: assigner
      id: 1728605162990-true-1728605352262-target
      source: '1728605162990'
      sourceHandle: 'true'
      target: '1728605352262'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1728005790287-source-1728605850100-target
      source: '1728005790287'
      sourceHandle: source
      target: '1728605850100'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1728605850100-false-llm-target
      source: '1728605850100'
      sourceHandle: 'false'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1728605850100-true-1728605957547-target
      source: '1728605850100'
      sourceHandle: 'true'
      target: '1728605957547'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1728605957547-source-1728606152473-target
      source: '1728605957547'
      sourceHandle: source
      target: '1728606152473'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1728606152473-source-1728606414302-target
      source: '1728606152473'
      sourceHandle: source
      target: '1728606414302'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables: []
      height: 54
      id: '1728005790287'
      position:
        x: -213.32712299716502
        y: 66.21858611896019
      positionAbsolute:
        x: -213.32712299716502
        y: 66.21858611896019
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            json_schema: "{\n  \"name\": \"carro_escolha\",\n  \"schema\": {\n   \
              \ \"type\": \"object\",\n    \"properties\": {\n      \"nome\": {\n\
              \        \"type\": \"string\",\n        \"description\": \"o nome da\
              \ pessoa\"\n      },\n      \"carro\": {\n        \"type\": \"string\"\
              ,\n        \"description\": \"o carro que o usuário escolheu, se não\
              \ souber marque \\\"\\\"\"\n      },\n      \"response\": {\n      \
              \  \"type\": \"string\",\n        \"description\": \"Sua resposta para\
              \ o usuário\"\n      },\n      \"etapa\": {\n        \"type\": \"integer\"\
              ,\n        \"description\": \"o número da etapa em que você se encontra\
              \ com descrito nas tags\"\n      }\n    }\n  }\n}"
            max_tokens_to_sample: 2048
            response_format: json_schema
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - edition_type: jinja2
          id: f06ae335-af83-4fd8-9236-e66924b249f6
          jinja2_text: "<contexto>\r\nSeu nome é Clara, você trabalha na Concessionaria\
            \ Auto Carros.\r\nNo inicio da conversa, envie sempre a logo da loja,\
            \ no formato markdown:\r\n\r\n![\"Auto+ Carros\"](https://www.veiculoaqui.com.br/fotos_lojas/loja20231122131932721_535130177.jpeg)\r\
            \n\r\n\r\nVocê deve orientar o usuário a encontrar o carro ideal.\r\n\
            </contexto>\r\n\r\n<etapas>\r\n1. Solicite o nome do usuário\r\n2. Pergunte\
            \ para que tipo de uso será o carro\r\n3. Faça poucas perguntas para identificar\
            \ o carro ideal para o cliente\r\n4. Sugira um carro ou uma lista de carros\
            \ com base no perfil dele\r\n5. Assim que o usuário escolher o carro,\
            \ agradeça e diga que irá encaminhá-lo para o Gerente Caetano, que irá\
            \ agendar um teste Drive.\r\n</etapas> \r\n\r\n<response_format>\r\nResponda\
            \ no formato JSON com os seguintes campos:\r\nresponse - Sua resposta\
            \ para o usuário\r\ncarro - o carro que o usuário escolheu, se não souber\
            \ marque \"\"\r\nnome - o nome do usuário, se não souber, marque \"\"\r\
            \netapa - o número da etapa em que você se encontra com descrito nas tags\
            \ <etapas>\r\n</response_format>\r\n\r\n<json_schema>\r\n{\r\n  \"name\"\
            : \"nome\",\r\n  \"schema\": {\r\n    \"type\": \"object\",\r\n    \"\
            properties\": {\r\n      \"nome\": {\r\n        \"type\": \"string\",\r\
            \n        \"description\": \"o nome da pessoa\"\r\n      },\r\n      \"\
            carro\": {\r\n        \"type\": \"string\",\r\n        \"description\"\
            : \"o carro que o usuário escolheu, se não souber marque \\\"\\\"\"\r\n\
            \      },\r\n      \"response\": {\r\n        \"type\": \"string\",\r\n\
            \        \"description\": \"Sua resposta para o usuário\"\r\n      },\r\
            \n      \"etapa\": {\r\n        \"type\": \"number\",\r\n        \"description\"\
            : \"o número da etapa em que você se encontra com descrito nas tags\"\r\
            \n      }\r\n    }\r\n  }\r\n}\r\n</json_schema>"
          role: system
          text: "<contexto>\nSeu nome é Clara, você trabalha na Concecionaria Auto\
            \ Carros.\nNo inicio da conversa, envie sempre a logo da loja, no formato\
            \ markdown:\n\n\n![\"Auto+ Carros\"](https://www.veiculoaqui.com.br/fotos_lojas/loja20231122131932721_535130177.jpeg)\n\
            \n\n\nVocê deve orientar o usuário a encontrar o carro ideal.\n</contexto>\n\
            \n\n<etapas>\n1. Solicite o nome do usuário\n2. Pergunte para que tipo\
            \ de uso será o carro\n3. Faça poucas perguntas para identificar o carro\
            \ ideal para o cliente\n4. Sugira um carro ou uma lista de carros com\
            \ base no perfil dele\n5. Assim que o usuário escolher o carro, agradeça\
            \ e diga que irá encaminhá-lo para o Gerente Caetano, que irá agendar\
            \ um teste Drive.\n</etapas> \n\n\n<response_format>\nResponda no formato\
            \ JSON com os seguintes campos:\nresponse - Sua resposta para o usuário\n\
            carro - o carro que o usuário escolheu, se não souber marque \"\"\nnome\
            \ - o nome do usuário, se não souber, marque \"\"\netapa - o número da\
            \ etapa em que você se encontra com descrito nas tags <etapas>\n\n\n</response_format>\n\
            \n<json_schema>\n{\n  \"name\": \"carro_escolha\",\n  \"schema\": {\n\
                \"type\": \"object\",\n    \"properties\": {\n      \"nome\": {\n\
                    \"type\": \"string\",\n        \"description\": \"o nome da pessoa\"\
            \n      },\n      \"carro\": {\n        \"type\": \"string\",\n       \
            \ \"description\": \"o carro que o usuário escolheu, se não souber marque\
            \ \\\"\\\"\"\n      },\n      \"response\": {\n        \"type\": \"string\"\
            ,\n        \"description\": \"Sua resposta para o usuário\"\n      },\n\
                  \"etapa\": {\n        \"type\": \"integer\",\n        \"description\"\
            : \"o número da etapa em que você se encontra com descrito nas tags\"\n\
                  }\n    }\n  }\n}\n</json_schema>"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: llm
      position:
        x: 386.7455126716985
        y: 226.68679609207243
      positionAbsolute:
        x: 386.7455126716985
        y: 226.68679609207243
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(data: str) -> dict:\n    jsondata = json.loads(data)\n\n \
          \   return {\n        \"response\": jsondata[\"response\"],\n        \"\
          etapa\": jsondata[\"etapa\"],\n        \"nome\": jsondata[\"nome\"],\n \
          \       \"carro\": jsondata[\"carro\"],\n    }"
        code_language: python3
        desc: ''
        outputs:
          carro:
            children: null
            type: string
          etapa:
            children: null
            type: number
          nome:
            children: null
            type: string
          response:
            children: null
            type: string
        selected: false
        title: Código
        type: code
        variables:
        - value_selector:
          - llm
          - text
          variable: data
      height: 54
      id: '1728006637280'
      position:
        x: 720.1825781901175
        y: 291.96028919813193
      positionAbsolute:
        x: 720.1825781901175
        y: 291.96028919813193
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1728006637280.response#}}'
        desc: ''
        selected: false
        title: 'Resposta '
        type: answer
        variables: []
      height: 106
      id: '1728604875292'
      position:
        x: 1025.9384616400498
        y: 367.46327754521604
      positionAbsolute:
        x: 1025.9384616400498
        y: 367.46327754521604
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 109d2655-91f8-41c5-bf49-5893898d5c16
            value: '5'
            varType: number
            variable_selector:
            - '1728006637280'
            - etapa
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: SE/SENÃO
        type: if-else
      height: 126
      id: '1728605162990'
      position:
        x: 1328.1825781901173
        y: 448.2339162420968
      positionAbsolute:
        x: 1328.1825781901173
        y: 448.2339162420968
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        assigned_variable_selector:
        - conversation
        - etapaAtual
        desc: ''
        input_variable_selector:
        - '1728006637280'
        - etapa
        selected: false
        title: Atribuidor de Variáveis
        type: assigner
        write_mode: over-write
      height: 132
      id: '1728605352262'
      position:
        x: 1628.670811290253
        y: 544.8075059883671
      positionAbsolute:
        x: 1628.670811290253
        y: 544.8075059883671
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: 3542455c-e3f3-4a7f-af9d-897bb2dd5dde
            value: '5'
            varType: number
            variable_selector:
            - conversation
            - etapaAtual
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: SE/SENÃO 2
        type: if-else
      height: 126
      id: '1728605850100'
      position:
        x: 78.38169285330957
        y: 110.11567236726492
      positionAbsolute:
        x: 78.38169285330957
        y: 110.11567236726492
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "from datetime import datetime\n\ndef main() -> dict:\n    # Dicionário\
          \ para mapear os dias da semana em português\n    days_of_week = {\n   \
          \     0: \"Segunda-feira\",\n        1: \"Terça-feira\",\n        2: \"\
          Quarta-feira\",\n        3: \"Quinta-feira\",\n        4: \"Sexta-feira\"\
          ,\n        5: \"Sábado\",\n        6: \"Domingo\"\n    }\n    \n    # Obtém\
          \ a data atual\n    current_date = datetime.now()\n    \n    # Formata a\
          \ data no formato dd/mm/aaaa\n    formatted_date = current_date.strftime(\"\
          %d/%m/%Y\")\n    \n    # Obtém o dia da semana em português\n    day_of_week\
          \ = days_of_week[current_date.weekday()]\n    \n    # Retorna a data e o\
          \ dia da semana\n    return {\n        \"data_atual\": formatted_date,\n\
          \        \"dia_da_semana\": day_of_week\n}"
        code_language: python3
        desc: ''
        outputs:
          data_atual:
            children: null
            type: string
          dia_da_semana:
            children: null
            type: string
        selected: false
        title: Pegar Data Atual
        type: code
        variables: []
      height: 54
      id: '1728605957547'
      position:
        x: 386.7455126716985
        y: 1.6139691934529878
      positionAbsolute:
        x: 386.7455126716985
        y: 1.6139691934529878
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - edition_type: jinja2
          jinja2_text: "<contexto>\r\nSeu nome é Caetano e você é responsável por\
            \ agendar o teste drive com o cliente em nossa concessionária.\r\n</contexto>\r\
            \n\r\n<etapas>\r\n1. Pergunte o endereço do usuário\r\n2. Sugira os próximos\
            \ dois dias para agendamento, hoje é {{ data_atual }}, {{ dia_da_semana\
            \ }}.\r\n3. Sugira dois horários, um de manhã e outro de tarde.\r\n4.\
            \ Agradeça ao usuário e diga que irá aguardá-lo.\r\n\r\n</etapas>"
          role: system
          text: '<contexto>

            Seu nome é Caetano e você é responsável por agendar o teste drive com
            o cliente em nossa concessionária.

            </contexto>


            <etapas>

            1. Pergunte o endereço do usuário

            2. Sugira os próximos dois dias para agendamento, hoje é {{ data_atual
            }}, {{ dia_da_semana }}.

            3. Sugira dois horários, um de manhã e outro de tarde.

            4. Agradeça ao usuário e diga que irá aguardá-lo.


            </etapas>'
        selected: false
        title: Teste Drive
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1728606152473'
      position:
        x: 720.1825781901175
        y: 66.21858611896019
      positionAbsolute:
        x: 720.1825781901175
        y: 66.21858611896019
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1728606152473.text#}}'
        desc: ''
        selected: false
        title: Resposta Test Drive
        type: answer
        variables: []
      height: 106
      id: '1728606414302'
      position:
        x: 1025.9384616400498
        y: 152.67664555734282
      positionAbsolute:
        x: 1025.9384616400498
        y: 152.67664555734282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -271.44367451554035
      y: 95.38849422883754
      zoom: 0.8578231053747268
